# Over time, we intend to format python files in this repo using isort and autopep8.
# At the moment, we are *only formatting any changed or added files*
# We have not implemented any sort of automation (e.g. pre-commit)

autopep8==1.6.0
isort==5.10.1
